body {
    background-color: rgb(20, 17, 51);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button {
  background-color: rgb(90, 86, 129);
  border: none;
  color: white;
  padding: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

button:hover{
    background-color: rgb(128, 124, 164);
    animation: button_run 4s infinite ease-in-out;
}


@keyframes button_run{
    0% {
        border-radius: 0%;
    }
    100% {
        border-radius: 50%;
    }
}


button:active{
    background-color: rgb(64, 48, 240);
}


.container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  justify-items: center;
}

.img {
    max-width: 50px;
}

.yum {
    max-width:500px;
    max-height: 500px;
}

#movingimg {
    position: relative; 
    top: 0px;
    left: 0px;
    height: auto;
}

.ball{
    background-color: white;
    width:30px;
    height:30px;
    border-radius: 50%;
    position: relative;
    animation: bounce 4s infinite ease-in-out;
    color: black;
    font-size: xx-small;
}

.snow{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
  justify-items: center;
  text-align: center;
}

@keyframes bounce {
    0% {
        top: -40px;
    }
    100% {
        top: 600px;
    }
}

#box {
    width: 100px;
    height: 100px;
    background-color: red;
}

